<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Healthcheck Dashboard</title>
        <link rel="stylesheet" type="text/css" href="/api/public/styles.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/api/public/table.css" media="screen" />
    </head>
    <body>
        <header>
            <h1>Healthcheck Dashboard</h1>
        </header>
        <main>
            <div class="table-container">
                <table class="dashboard-table">
                    <thead>
                        <tr>
                            <th>
                                Version
                            </th>
                            <th>
                                Timestamp
                            </th>
                            <th>
                                Pinged URL
                            </th>
                            <th>
                                Request State
                            </th>
                            <th>
                                Ping Result
                            </th>
                            <th>
                                Email Result
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </main>
    </body>
</html>
